header.pj-header
    img(src="img/svg/test.svg" alt="")
    nav.pj-header-nav
        ul
            li Poder judicial
            li Consejo de la judicatura
            li Transparencia
            li Transparencia TCA
            li Servicios