.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 100px 15px;
  padding-bottom: 30px;
}

.card {
  /* background-color: red; */
  width: 32%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 90px;
}

.card img {
  display: block;
  margin: 0 auto;
}

.card h2 {
  margin: 40px 0;
  text-align: center;
  color: #99814a;
}

.card p {
  color: #666;
  margin-bottom: 20px;
}
