section.pj-hero
    // carousel
    img(src="img/img-slider.jpg" alt="")
    .pj-hero-description
        h2#carousel.title Observatorio juducial
        p Instalación de observatorio juducial
    // dots
    .pj-hero-dots
        span
        span
        span
        span
        span
        span
        span
        span