section.pj-welcome
    h2 BIENVENIDAS Y BIENVENIDOS
    p
        | Trabajamos para que este portal sea una herramienta útil para las abogadas y abogados que ejercen su profesión ante
        | los órganos jurisdiccionales del estado, presentándoles información que les sea de utilidad para desempeñar sus
        | tareas cotidianas.
    a(href="") Leer mensaje de la Presidenta
