section.pj-articles.flex-container
    article.pj-articles-article.card
        img(src="img/svg/test.svg" alt="")
        h2.title Titulo
        p Acuerdos emitidos por los órganos jurisdiccionales
        a(href="https://www.google.com" target="_blank") seguir leyendo
    article.pj-articles-article.card
        img(src="img/svg/test.svg" alt="")
        h2.title Titulo
        p Acuerdos emitidos por los órganos jurisdiccionales
        a(href="https://www.google.com" target="_blank") seguir leyendo
    article.pj-articles-article.card
        img(src="img/svg/test.svg" alt="")
        h2.title Titulo
        p Acuerdos emitidos por los órganos jurisdiccionales
        a(href="https://www.google.com" target="_blank") seguir leyendo
    article.pj-articles-article.card
        img(src="img/svg/test.svg" alt="")
        h2.title Titulo
        p Acuerdos emitidos por los órganos jurisdiccionales
        a(href="https://www.google.com" target="_blank") seguir leyendo
    article.pj-articles-article.card
        img(src="img/svg/test.svg" alt="")
        h2.title Titulo
        p Acuerdos emitidos por los órganos jurisdiccionales
        a(href="https://www.google.com" target="_blank") seguir leyendo
    article.pj-articles-article.card
        img(src="img/svg/test.svg" alt="")
        h2.title Titulo
        p Acuerdos emitidos por los órganos jurisdiccionales
        a(href="https://www.google.com" target="_blank") seguir leyendo
    article.pj-articles-article.card
        img(src="img/svg/test.svg" alt="")
        h2.title Titulo
        p Acuerdos emitidos por los órganos jurisdiccionales
        a(href="https://www.google.com" target="_blank") seguir leyendo