section.pj-directory.flex-container
    article.card
        h2 Directorio general
        p Contactos de servidoras y servidores públicos del poder judicial.
        br
        a(href="https://www.google.com" target="_blank") seguir leyendo
    article.card
        h2 Directorio general
        p Contactos de servidoras y servidores públicos del poder judicial.
        br
        a(href="https://www.google.com" target="_blank") seguir leyendo
    article.card
        h2 Directorio general
        p Contactos de servidoras y servidores públicos del poder judicial.
        br
        a(href="https://www.google.com" target="_blank") seguir leyendo
    article.card
        h2 Directorio general
        p Contactos de servidoras y servidores públicos del poder judicial.
        br
        a(href="https://www.google.com" target="_blank") seguir leyendo
    article.card
        h2 Directorio general
        p Contactos de servidoras y servidores públicos del poder judicial.
        br
        a(href="https://www.google.com" target="_blank") seguir leyendo
    article.card
        h2 Directorio general
        p Contactos de servidoras y servidores públicos del poder judicial.
        br
        a(href="https://www.google.com" target="_blank") seguir leyendo
    article.card
        h2 Directorio general
        p Contactos de servidoras y servidores públicos del poder judicial.
        br
        a(href="https://www.google.com" target="_blank") seguir leyendo
    article.card
        h2 Directorio general
        p Contactos de servidoras y servidores públicos del poder judicial.
        br
        a(href="https://www.google.com" target="_blank") seguir leyendo
    article.card
        h2 Directorio general
        p Contactos de servidoras y servidores públicos del poder judicial.
        br
        a(href="https://www.google.com" target="_blank") seguir leyendo