doctype html(lang='en')
head
    meta(charset='UTF-8')     
    meta(name='viewport', content='width=device-width, initial-scale=1.0')     
    meta(http-equiv='X-UA-Compatible', content='ie=edge')     
    title Sass intro    
    link(rel='stylesheet', href='main-intro.css')
    body
        h1 Sass Intro
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi ratione vitae, asperiores obcaecati tenetur animi quaerat eligendi sunt tempore nisi commodi excepturi doloribus sapiente, consequatur non. Vitae harum doloribus ab!

        ul
            li.item-list-1 item1
            li.item-list-2 item2
            li.item-list-3 item3
            li.item-list-4 item4

        ul.marca
            li(class="marca-item-jeep") Jeep
            li.marca-item-dodge Dodge
            li.marca-item-honda Honda
            li.marca-item-fiat Fiat

        div
            p.parrafo-1 parrafo 1
            p.parrafo-2 parrafo 2
            p.parrafo-3 parrafo 3
            p.parrafo-4 parrafo 4

